<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Product</title>
    <link rel="stylesheet" href="/Stylesheets/add_product.css">
    <link rel="stylesheet" href="/Stylesheets/header.css">
</head>
<body>
    <%- include('header.ejs') %>
    <div id="container">
        <h1>Add Product</h1>
        <div class="sub-container">
            <div class="fields">
                <label>Product Name</label>
                <label>Product Description</label>
                <label>Product Price</label>
                <label>Product Quantity</label>
                <label>Product Image</label>
            </div>
            <div class="sub-container">
                <form id="product-form" name="product-form" enctype="multipart/form-data" class="fields">
                    <input type="text" id="name" name="names" oninput="names_chk()">
                    <input type="text" id="desc" name="desc" oninput="desc_chk()">
                    <input type="number" id="price" name="price" oninput="price_chk()">
                    <input type="number" id="quantity" name="quantity" oninput="quantity_chk()">
                    <input type="file" id="image" name="productImage" oninput="image_chk()">
                </form>
            </div>
        </div>
        <div>
            <button id="add-productBtn" >Add Product</button>
        </div>
    </div>

    <script src="/Scripts/add_product.js"></script>
</body>
</html>