<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forget Password</title>
    <link rel="stylesheet" href="/Stylesheets/forget_password.css">
</head>
<body>
    <div class="container">
        <div class="main">
            <label>Mail</label>
            <input type="text" id="usermail" placeholder="Enter your mail" oninput="mail()">
            <p id="mailErr"></p>
        </div>

        <button id="forget-passBtn">Send Link</button>
    </div>

    <script src="/Scripts/forget_password.js"></script>
</body>
</html>