<div class="header">
    <nav class="navbar">
        <div id="menu-link">
            <ul class="navbar-list">
                <li class="navbar-item"><a href="/product/dashboard">Home </a></li>
                <li class="navbar-item"><a href="/product/cart">Cart</a></li>
                <li class="navbar-item"><a href="/user/change_password">change password</a></li>
            </ul>
        </div>
        <div id="user-menu">
            <p id="current-user"><%= username%></p>
            <button id="logoutBtn">Logout</button>
        </div>
    </nav>
</div>