$turquoise: #41d3bdff;
$mauveine: #791e94ff;
$burnt-sienna: #de6449ff;
$cerulean: #407899ff;

$pomp-and-power: #8d6a9fff;
$french-gray: #c5cbd3ff;
$cambridge-blue: #8cbcb9ff;
$hunyadi-yellow: #dda448ff;