*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #e4e4e4;
    font-family: Georgia, sans-serif;
}

.container{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    background-color: #eee;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

.main{
    display: flex;
    flex-direction: column;
}

input, label{
    display: block;
    width: 200px;
    height: 25px;
    margin: 5px 10px 0px 10px;
}

label{
    font-size: 18px;
}

#mailErr{
    font-size: 14px;
    color: red;
    margin-left: 10px;
    font-size: 14px;
}

#forget-passBtn{
    width: 150px;
    height: 30px;
    border: 2px solid #22e422;
    color: green;
    cursor: pointer;
    font-size: 16px;
    font-weight: bolder;
    margin: 10px 0px;
}