*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #e4e4e4;
    font-family: Georgia, sans-serif;
}
#container{
    background-color: #eee;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}
.fields{
    font-size: 18px;
}
.fields, input ,p{
    display: block;
    width: 200px;
    height: 25px;
    margin: 5px 0px 0px 10px;
}
p{
    width: 100%;
}
.err{
    font-size: 14px;
    color: red;
    margin-left: 10px;
}
#signupBtn{
    width: 80px;
    height: 30px;
    border: 2px solid #2266e4;
    color: blue;
    cursor: pointer;
    font-size: 16px;
    font-weight: bolder;
    margin: 10px 0px;
}
.center{
    text-align: center;
}